@using FireForce.Data.Models.Personas.Personal
@using FireForce.Data.Models.Personas.Personal.Componentes
@using FireForce.Data.Models.Vehiculos.Flota
@using FireForce.Client.Services
@implements IDisposable
@inject IDbContextFactory<BomberosDbContext> DbFactory
@inject IMessageService message

<style>
    #ImagenMovil {
        border: 1px solid #f0f5f5;
        border-radius: 2px;
        height: 25em;
        max-height: 25em;
        min-height: 25em;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .ant-table-pagination.ant-pagination {
        display: none !important;
    }

    .boton_p {
        background-color: #732D2D !important;
        color: white !important;
    }
</style>
@if (vehiculo != null)
{
    <div>
        <Form Model="@IncidenteView"
              OnFinish="@SubirIncidente"
              OnFinishFailed="OnFinishFailed"
              Style="width: 100%;height: 100%; overflow: hidden!important;">
            <FormItem Label="Movil">
                <Input Disabled Value="@vehiculo.NumeroMovil" />
            </FormItem>
            <FormItem Label="Descripción">
                <Input @bind-Value="IncidenteView.Observacion" />
            </FormItem>
            <FormItem Label="Tipo">
                <EnumSelect TEnum="TipoIncidente" @bind-Value="@IncidenteView.Tipo" />
            </FormItem>

            <FormItem Label="Responsable">
                <Select TItem="BomberoLViewModel"
                        TItemValue="int"
                        DataSource="@bomberoslist"
                        @bind-Value="@IncidenteView.ResponsableId"
                        LabelName="@nameof(BomberoLViewModel.NombreYApellido)"
                        ValueName="@nameof(BomberoLViewModel.PersonaId)"
                        Placeholder="Seleccione un bombero"
                        DefaultActiveFirstOption="false"
                        AllowClear="true" EnableSearch>
                </Select>
            </FormItem>

            <FormItem>
                <Button Type="ButtonType.Primary" HtmlType="submit" Class="boton_p">Grabar</Button>
            </FormItem>
        </Form>
    </div>
}
else
{
    <div style="display: flex; justify-content: center;width: 100%;margin: 1em 1em;">
        <Spin Delay="500" Indicator=antIcon />
    </div>
    //Hay que ver si se puede cambiar el contenido despues del delay
    @code {
    RenderFragment antIcon = @<Icon Type="loading" Theme="IconThemeType.Outline" Style="font-size: 24px; text-align: center; color: rgb(62, 24, 24);" Spin />;
    }
}

@code {
    [Parameter] public int? VehiculoId { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    BomberosDbContext Context;
    public VehiculoSalida? vehiculo { get; set; }
    public List<BomberoLViewModel> bomberoslist = new();

    public class BomberoLViewModel
    {
        public int? PersonaId { get; set; }
        public string? NombreYApellido { get; set; }
    }

    public class IncidenteViewModel
    {
        public DateTime Fecha { get; set; }
        public string? Observacion { get; set; }
        public TipoIncidente Tipo { get; set; }
        public int ResponsableId { get; set; }
    }

    public IncidenteViewModel IncidenteView = new();

    private async void SubirIncidente()
    {
        try
        {
            Bombero? Encargado = await Context.Bomberos.SingleOrDefaultAsync(b => b.PersonaId == IncidenteView.ResponsableId);
            message.Success("Se grabo el incidente correctamente");
            await Init();
            await OnClose.InvokeAsync();
            StateHasChanged();
        }
        catch (Exception e)
        {
            await Init();
            StateHasChanged();
            if (e.InnerException != null)
                await message.ErrorAsync(e.InnerException.Message, 5);
            else
                await message.ErrorAsync(e.Message, 5);
        }
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(IncidenteView)}");
        message.Error("Error al cargar, posible información ausente");
    }

    public async Task CargarBomberosView()
    {
        var bomberos = await Context.Bomberos.OrderBy(b => b.Nombre).ToArrayAsync();
        bomberoslist = new();
        foreach (Bombero b in bomberos)
        {
            BomberoLViewModel bombero = new()
                {
                    PersonaId = b.PersonaId,
                    NombreYApellido = b.Nombre + ", " + b.Apellido
                };
            bomberoslist.Add(bombero);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }
    private async Task Init()
    {
        Context = DbFactory.CreateDbContext();
        vehiculo = await Context.Set<VehiculoSalida>().SingleOrDefaultAsync(e => e.VehiculoId == VehiculoId);
        await CargarBomberosView();
    }
    public void Dispose()
    {
        Context?.Dispose();
    }
}
