@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas"

<br />
<br />
<br />
<br />
<br />
<button @onclick="@(() => { navigationManager.NavigateTo("/salidas/incendios"); })">Incendios</button>
<br />
<br />
<button @onclick="@(() => { navigationManager.NavigateTo("/salidas/factores-climaticos"); })">Factores climatiacos</button>
<br />
<br />
<button @onclick="@(() => { navigationManager.NavigateTo("/salidas/materiales-peligrosos"); })">Materiales peligrosos</button>
<br />
<br />
<button @onclick="@(() => { navigationManager.NavigateTo("/salidas/servicios"); })">Servicios</button>
<br />
<br />
<button @onclick="@(() => { navigationManager.NavigateTo("/salidas/accidentes"); })">Accidentes</button>
<br />
<br />
<button @onclick="@(() => { navigationManager.NavigateTo("/salidas/rescates"); })">rescates</button>
<br />
<br />
<br />
<br />
<br />

@code {

}
