@inherits LayoutComponentBase
@inject IconService iconService
@inject NavigationManager navigationManager

<PageTitle>Bomberos Chivilcoy</PageTitle>

<link href="css/layout.css" rel="stylesheet" />

<Layout>
    <Header class="main-header compact-header">
        <div class="header-content compact-content">
            <Button class="menu-toggle compact-toggle" Type="ButtonType.Primary" OnClick="ToggleCollapsed">
                <Icon Type="@(collapsedMenu ? "menu-unfold" : "menu-fold")" Theme="IconThemeType.Outline" />
            </Button>

            <Menu Mode="MenuMode.Horizontal" Theme="MenuTheme.Light" class="top-menu compact-menu"
                  SelectedKeys="@GetSelectedMenuKeys()">

                <MenuItem Key="home" OnClick="@(() => navigationManager.NavigateTo("/fire-force/"))" class="compact-item">
                    <i class="fa-solid fa-house compact-icon"></i> <span class="compact-text">Home</span>
                </MenuItem>

                <MenuItem Key="legajo" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Bomberos/Legajo"))" class="compact-item">
                    <i class="fa-solid fa-id-card compact-icon"></i> <span class="compact-text">Legajo</span>
                </MenuItem>

                <MenuItem Key="salidas" OnClick="@(() => navigationManager.NavigateTo("/fire-force/salidas"))" class="compact-item">
                    <i class="fa-solid fa-sign-out-alt compact-icon"></i> <span class="compact-text">Salidas</span>
                </MenuItem>

                <!-- SUBMENU PERSONAL -->
                <SubMenu Key="personal" TitleTemplate="@personalCompactTitle" class="compact-submenu">
                    <MenuItem Key="bomberos" OnClick="@(() => navigationManager.NavigateTo("/fire-force/personal/bomberos"))" class="compact-item">
                        <span class="compact-text">Bomberos</span>
                    </MenuItem>
                    <MenuItem Key="cobradores" OnClick="@(() => navigationManager.NavigateTo("/fire-force/personal/cobradores"))" class="compact-item">
                        <span class="compact-text">Cobradores</span>
                    </MenuItem>
                    <MenuItem Key="CS" OnClick="@(() => navigationManager.NavigateTo("/fire-force/personal/comisiondirectiva"))" class="compact-item">
                        <span class="compact-text">Comision Directiva</span>
                    </MenuItem>
                </SubMenu>

                <MenuItem Key="licencias" OnClick="@(() => navigationManager.NavigateTo("/fire-force/licencias"))" class="compact-item">
                    <i class="fa-solid fa-file-alt compact-icon"></i> <span class="compact-text">Licencias</span>
                </MenuItem>

                <MenuItem Key="moviles" OnClick="@(() => navigationManager.NavigateTo("/fire-force/unidades"))" class="compact-item">
                    <i class="fa-solid fa-car compact-icon"></i> <span class="compact-text">Unidades</span>
                </MenuItem>

                <MenuItem Key="firmas" OnClick="@(() => navigationManager.NavigateTo("/fire-force/incidentes-vehiculos"))" class="compact-item">
                    <i class="fa-solid fa-signature compact-icon"></i> <span class="compact-text">Firmas</span>
                </MenuItem>

                <SubMenu Key="etica" TitleTemplate="@eticaCompactTitle" class="compact-submenu">
                    <MenuItem Key="sanciones" OnClick="@(() => navigationManager.NavigateTo("/fire-force/bomberos/sancionados"))" class="compact-item">
                        <span class="compact-text">Sanciones</span>
                    </MenuItem>
                    <MenuItem Key="ascensos" OnClick="@(() => navigationManager.NavigateTo("/fire-force/bomberos/ascenso"))" class="compact-item">
                        <span class="compact-text">Ascensos</span>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="reportes" TitleTemplate="@reportesCompactTitle" class="compact-submenu">

                    <MenuItem Key="reportes-bomberos" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Reportes/HistorialBomberos"))" class="compact-item">
                        <span class="compact-text">Bomberos</span>
                    </MenuItem>
                    <MenuItem Key="reportes-choferes" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Reportes/Reportes_Choferes"))" class="compact-item">
                        <span class="compact-text">Choferes</span>
                    </MenuItem>
                    <MenuItem Key="reportes-moviles" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Reportes/HistorialMoviles"))" class="compact-item">
                        <span class="compact-text">Móviles</span>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="herramientas" TitleTemplate="@herramientasCompactTitle" class="compact-submenu">
                    <MenuItem Key="fuerzas" OnClick="@(() => navigationManager.NavigateTo("/fire-force/FuerzasIntervinientes"))" class="compact-item">
                        <span class="compact-text">Fuerzas Intervinientes</span>
                    </MenuItem>
                    <MenuItem Key="comunicacion" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Dependencias/Comunicacion"))" class="compact-item">
                        <span class="compact-text">Comunicación</span>
                    </MenuItem>
                    <MenuItem Key="deposito" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Dependencias/Deposito"))" class="compact-item">
                        <span class="compact-text">Depósito</span>
                    </MenuItem>
                    <MenuItem Key="dependencias" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Dependencias"))" class="compact-item">
                        <span class="compact-text">Dependencias</span>
                    </MenuItem>
                    <MenuItem Key="brigadas" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Brigadas"))" class="compact-item">
                        <span class="compact-text">Brigadas</span>
                    </MenuItem>
                    <MenuItem Key="equipos-autonomos" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Dependencias/EquiposAutonomos"))" class="compact-item">
                        <span class="compact-text">Equipos Autónomos</span>
                    </MenuItem>
                        <MenuItem Key="partes" OnClick="@(() => navigationManager.NavigateTo("/fire-force/partes-vehiculos"))" class="compact-item">
                            <span class="compact-text">Partes</span>
                        </MenuItem>
                </SubMenu>

            </Menu>
        </div>
    </Header>

    <Layout class="main-layout">
        <Sider class="main-sider" @bind-Collapsed="@collapsedMenu" NoTrigger OnCollapse="OnCollapse">

            <Menu Mode="MenuMode.Inline" InlineCollapsed="collapsedMenu" class="main-menu">

                <MenuItem Key="legajo" OnClick="@(() => navigationManager.NavigateTo("/fire-force/Bomberos/Legajo"))">
                    <IconTemplate><i class="fa-solid fa-user menu-icon"></i></IconTemplate>
                    <ChildContent><a class="menu-link" href="/fire-force/Bomberos/Legajo">Legajo</a></ChildContent>
                </MenuItem>

                <MenuItem Key="licencias" OnClick="@(() => navigationManager.NavigateTo("/fire-force/licencias"))">
                    <IconTemplate><i class="fa-solid fa-file-signature menu-icon"></i></IconTemplate>
                    <ChildContent><a class="menu-link" href="/fire-force/licencias">Licencias</a></ChildContent>
                </MenuItem>

                <MenuItem Key="moviles" OnClick="@(() => navigationManager.NavigateTo("/fire-force/unidades"))">
                    <IconTemplate><i class="fa-solid fa-truck menu-icon"></i></IconTemplate>
                    <ChildContent><a class="menu-link" href="/fire-force/unidades">Unidades</a></ChildContent>
                </MenuItem>

                <!-- SUBMENU PERSONAL (Sider) -->
                <SubMenu Key="personal" TitleTemplate="@personalTitle">

                    <MenuItem Key="bomberos">
                        <IconTemplate><i class="fa-solid fa-user-firefighter submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/personal/bomberos">Bomberos</a></ChildContent>
                    </MenuItem>

                    <MenuItem Key="cobradores">
                        <IconTemplate><i class="fa-solid fa-money-bill submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/personal/cobradores">Cobradores</a></ChildContent>
                    </MenuItem>

                    <MenuItem Key="CS">
                        <IconTemplate><i class="fa-solid fa-users submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/personal/comisiondirectiva">Comision Directiva</a></ChildContent>
                    </MenuItem>

                </SubMenu>

                <MenuItem Key="salidas" OnClick="@(() => navigationManager.NavigateTo("/fire-force/salidas"))">
                    <IconTemplate><i class="fa-solid fa-fire-extinguisher menu-icon"></i></IconTemplate>
                    <ChildContent><a class="menu-link" href="/fire-force/salidas">Salidas</a></ChildContent>
                </MenuItem>

                <MenuItem Key="firmas" OnClick="@(() => navigationManager.NavigateTo("/fire-force/incidentes-vehiculos"))">
                    <IconTemplate><i class="fa-solid fa-scroll menu-icon"></i></IconTemplate>
                    <ChildContent><a class="menu-link" href="/fire-force/incidentes-vehiculos">Firmas</a></ChildContent>
                </MenuItem>

                <!-- reportes, herramientas, ética sin cambios -->

                <SubMenu Key="reportes" TitleTemplate="@reportesTitle">
  



                    <MenuItem Key="reportes-choferes">
                        <IconTemplate><i class="fa-solid fa-id-card submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Reportes/Reportes_Choferes">Choferes</a></ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-moviles">
                        <IconTemplate><i class="fa-solid fa-truck-droplet submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Reportes/HistorialMoviles">Móviles</a></ChildContent>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="herramientas" TitleTemplate="@herramientasTitle">
                    <MenuItem Key="fuerzas"><IconTemplate><i class="fa-solid fa-shield-halved submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/FuerzasIntervinientes">Fuerzas Intervinientes</a></ChildContent>
                    </MenuItem>
                    <MenuItem Key="comunicacion"><IconTemplate><i class="fa-solid fa-walkie-talkie submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Dependencias/Comunicacion">Comunicación</a></ChildContent>
                    </MenuItem>
                    <MenuItem Key="deposito"><IconTemplate><i class="fa-solid fa-warehouse submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Dependencias/Deposito">Depósito</a></ChildContent>
                    </MenuItem>
                    <MenuItem Key="dependencias"><IconTemplate><i class="fa-solid fa-building submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Dependencias">Dependencias</a></ChildContent>
                    </MenuItem>
                    <MenuItem Key="brigadas"><IconTemplate><i class="fa-solid fa-users-gear submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Brigadas">Brigadas</a></ChildContent>
                    </MenuItem>
                    <MenuItem Key="equipos-autonomos"><IconTemplate><i class="fa-solid fa-mask-face submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Dependencias/EquiposAutonomos">Equipos Autónomos</a></ChildContent>
                    </MenuItem>
                     <MenuItem Key="partes"><IconTemplate><i class="fa-solid fa-mask-face submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/Dependencias/Partes">Partes</a></ChildContent>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="etica" TitleTemplate="@eticaTitle">
                    <MenuItem Key="sanciones"><IconTemplate><i class="fa-solid fa-user-xmark submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/bomberos/sancionados">Sanciones</a></ChildContent>
                    </MenuItem>
                    <MenuItem Key="ascensos"><IconTemplate><i class="fa-solid fa-user-plus submenu-icon"></i></IconTemplate>
                        <ChildContent><a class="menu-link" href="/fire-force/bomberos/ascenso">Ascensos</a></ChildContent>
                    </MenuItem>
                </SubMenu>

            </Menu>
        </Sider>

        <Layout>
            <Content class="main-content">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>

@code {
    bool collapsedMenu = true;

    void ToggleCollapsed() => collapsedMenu = !collapsedMenu;

    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }

    string GetHeaderTitle()
    {
        var uri = navigationManager.Uri.ToLower();

        if (IsHome()) return "INICIO";

        if (uri.Contains("/personal/cobradores")) return "COBRADORES";
        if (uri.Contains("/personal/socios")) return "SOCIOS";
        if (uri.Contains("/personal/bomberos")) return "BOMBEROS";
        if (uri.Contains("/personal")) return "PERSONAL";

        if (uri.Contains("/bomberos/legajo")) return "LEGAJO";
        if (uri.Contains("/bomberos/sancionados")) return "SANCIONES";
        if (uri.Contains("/bomberos/ascenso")) return "ASCENSOS";

        if (uri.Contains("/licencias")) return "LICENCIAS";
        if (uri.Contains("/unidades")) return "MÓVILES";
        if (uri.Contains("/salidas")) return "SALIDAS";
        if (uri.Contains("/incidentes-vehiculos")) return "FIRMAS";

        if (uri.Contains("/reportes/historialbomberos")) return "HISTORIAL BOMBEROS";
        if (uri.Contains("/fire-force/partes-vehiculos")) return "PARTES VEHÍCULOS";
        if (uri.Contains("/reportes/reportes_choferes")) return "CHOFERES";
        if (uri.Contains("/reportes/historialmoviles")) return "HISTORIAL MÓVILES";

        return "INICIO";
    }

    bool IsHome()
    {
        var uri = navigationManager.Uri.ToLower().TrimEnd('/');
        var baseUri = navigationManager.BaseUri.ToLower().TrimEnd('/');
        return uri == baseUri || uri == $"{baseUri}/fire-force";
    }

    string[] GetSelectedMenuKeys()
    {
        var uri = navigationManager.Uri.ToLower();

        if (IsHome()) return new[] { "home" };

        if (uri.Contains("/personal/cobradores")) return new[] { "personal", "cobradores" };
        if (uri.Contains("/personal/socios")) return new[] { "personal", "socios" };
        if (uri.Contains("/personal/bomberos")) return new[] { "personal", "bomberos" };
        if (uri.Contains("/personal")) return new[] { "personal" };

        if (uri.Contains("/licencias")) return new[] { "licencias" };
        if (uri.Contains("/unidades")) return new[] { "moviles" };
        if (uri.Contains("/salidas")) return new[] { "salidas" };
        if (uri.Contains("/incidentes-vehiculos")) return new[] { "firmas" };


        if (uri.Contains("/reportes/reportes_choferes")) return new[] { "reportes-choferes" };
        if (uri.Contains("/reportes/historialmoviles")) return new[] { "reportes-moviles" };

        return Array.Empty<string>();
    }

    RenderFragment personalTitle =
        @<span class="submenu-title">
            <span class="submenu-title-text"><i class="fa-solid fa-users"></i> Personal</span>
        </span>;

    RenderFragment personalCompactTitle =
        @<span class="compact-submenu-title">
            <i class="fa-solid fa-users compact-icon"></i> <span class="compact-text">Personal</span>
        </span>;

    RenderFragment reportesTitle =
        @<span class="submenu-title">
            <span class="submenu-title-text"><i class="fa-solid fa-file-lines"></i> Reportes</span>
        </span>;

    RenderFragment herramientasTitle =
        @<span class="submenu-title">
            <span class="submenu-title-text"><i class="fa-solid fa-tools"></i> Utilidades</span>
        </span>;

    RenderFragment eticaTitle =
        @<span class="submenu-title">
            <span class="submenu-title-text"><i class="fa-solid fa-gavel"></i> Ética</span>
        </span>;

    RenderFragment reportesCompactTitle =
        @<span class="compact-submenu-title">
            <i class="fa-solid fa-file-lines compact-icon"></i> <span class="compact-text">Reportes</span>
        </span>;

    RenderFragment herramientasCompactTitle =
        @<span class="compact-submenu-title">
            <i class="fa-solid fa-tools compact-icon"></i> <span class="compact-text">Utilidades</span>
        </span>;

    RenderFragment eticaCompactTitle =
        @<span class="compact-submenu-title">
            <i class="fa-solid fa-gavel compact-icon"></i> <span class="compact-text">Ética</span>
        </span>;
}
