@using FireForce.Data.Models.Imagenes
@using FireForce.Data.Models.Vehiculos.Flota
@using FireForce.Client.Pages.Vehiculos.ViewModel

@*Servicios utilizados*@
@using FireForce.Client.Services
@inject NavigationManager navigationManager
@inject IMessageService _message
@inject IVehiculoSalidaService VehiculoSalidaService

<link rel="stylesheet" href="css/Unidades.css" />

<card class="vehiculo-card">
    <div class="vehiculo-imagen-contenedor">
        <img src="@Vehiculo.ImageUrl" class="vehiculo-imagen" />
        <div class="numero-overlay"> @Vehiculo.NumeroMovil</div>
    </div>

    <div class="vehiculo-info">
        <div class="botones-grid">

            <Button OnClick="() => DetallesVisible = true">
                <Icon Type="Menu" Theme="IconThemeType.Outline" />
            </Button>

            <Button OnClick="() => EditarVisible = true">
                <Icon Type="Edit" Theme="IconThemeType.Outline" />
            </Button>

            @if (Vehiculo.Estado == TipoEstadoMovil.Activo)
            {
                <Popconfirm Title="¿Estás seguro de dar de baja a este móvil?" OnConfirm="() => CambiarEstado(Vehiculo.Id, TipoEstadoMovil.Inactivo)" OnCancel="Cancel">
                    <Button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </Button>
                </Popconfirm>
            }
            else
            {
                <Popconfirm Title="¿Estás seguro de dar de alta a este móvil?" OnConfirm="() => CambiarEstado(Vehiculo.Id, TipoEstadoMovil.Activo)" OnCancel="Cancel">
                    <Button>
                        <Icon Type="Up" Theme="IconThemeType.Outline" />
                    </Button>
                </Popconfirm>
            }
        </div>
    </div>
</card>

@if (EditarVisible)
{
    <Modal Footer="null" Title='' OnCancel="() => EditarVisible = false" Visible="@EditarVisible"
            WrapClassName="fullscreen-modal" Style="max-width: unset; width: 100%; top: 0;" >
        <VehiculoEditar VehiculoId="@Vehiculo.Id" OnClose="HandleCancelEditar" />
    </Modal>
}

@if (DetallesVisible)
{
    <Modal Footer="null" Title='' OnCancel="() => DetallesVisible = false" Visible="@DetallesVisible"
            WrapClassName="fullscreen-modal" Style="max-width: unset; width: 100%; top: 0;" >
        <VehiculoDetalles vehiculoId="@Vehiculo.Id" />
    </Modal>
}

@code {
    [Parameter] public UnidadSimpleViewModel Vehiculo { get; set; } = new();
    [Parameter] public EventCallback OnChange { get; set; }

    bool EditarVisible { get; set; }
    bool DetallesVisible { get; set; }
    bool AgregarVisible { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    public async void HandleCancelEditar()
    {
        EditarVisible = false;
        await OnChange.InvokeAsync();
    }

    private async Task Init()
    {
        if (Vehiculo is null)
        {
            _message.Error("Vehículo no encontrado.");
        }

        StateHasChanged();
    }


    public async void CambiarEstado(int movilid, TipoEstadoMovil estado)
    {
        await VehiculoSalidaService.CambiarEstadoAsync(movilid, estado);
        await OnChange.InvokeAsync();
        StateHasChanged();
        await _message.SuccessAsync("Este movil se dio de baja");
    }

    private void Cancel()
    {
        _message.Error("Operación cancelada.");
    }
}