@using FireForce.Client.Data.ViewModels.Personal;
@using FireForce.Data.Models.Personas;

<style>

    table {
        border-collapse: collapse; /* Asegura que los bordes se colapsen juntos */
    }

    th, td {
        border: 1px solid black; /* Define un borde sólido de 1px */
        padding: 8px; /* Añade algo de espacio dentro de las celdas */
        text-align: left; /* Alinea el texto a la izquierda */
    }

</style>

<table>
    <thead>
        <tr>
            <th>APELLIDO Y NOMBRE</th>
            <th>DOCUMENTO</th>
            <th>SEXO</th>
            <th>EDAD</th>
            <th>ESTADO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Damnificado in Damnificados)
        {
            <tr>
                <td>@Damnificado.Apellido, @Damnificado.Nombre</td>
                <td>@Damnificado.Documento</td>
                <td>@Damnificado.Sexo</td>
                <td>@Damnificado.Edad</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Damnificado_Salida>? Damnificados { get; set; }
}
