@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@page "/salidas/incendios"

@*<select @bind="bomberoView.Grado">
        <option value="@EscalafonJerarquico.Jefe">Jefe</option>
        <option value="@EscalafonJerarquico.SegundoJefe">2ºdo Jefe</option>
        <option value="@EscalafonJerarquico.PrimerOficial">1ºer Oficial</option>
        <option value="@EscalafonJerarquico.SegundoOficial">2ºdo Oficial</option>
        <option value="@EscalafonJerarquico.TercerOficial">3ºer Oficial</option>
        <option value="@EscalafonJerarquico.AuxiliarMayor">Auxiliar Mayor</option>
        <option value="@EscalafonJerarquico.PrimerAuxiliar">1ºer Auxiliar</option>
        <option value="@EscalafonJerarquico.SegundoAuxiliar">2ºdo Auxiliar</option>
        <option value="@EscalafonJerarquico.Ayudante">Ayudante</option>
        <option value="@EscalafonJerarquico.SegundoAyudante">2ºdo Ayudante</option>
        <option value="@EscalafonJerarquico.Bombero">Bombero</option>
        <option value="@EscalafonJerarquico.Aspirante">Aspirante</option>
    </select>*@

@code {

    public class SalidaViewModel
    {
        public TipoIncendio Tipo { get; set; }
        [Required, StringLength(255)]
        public string Descripcion { get; set; }
        public DateOnly Fecha { get; set;}
        public DateTime HoraSalida{ get; set; }
        public DateTime HoraLlegada { get; set; }
        public int KmSalida { get; set; }
        public int KmLLegada{ get; set; }
        public int NumeroParte { get; set; }
        [Required, StringLength(255)]
        public string CalleORuta { get; set; }
        [Required, StringLength(255)]
        public string NumeroOKilometro { get; set; }
        [StringLength(255)]
        public string? EntreCalles { get; set; }
        [StringLength(255)]
        public string? PisoNumero { get; set; }
        [StringLength(255)]
        public string? Depto { get; set; }
        public TipoZona TipoZona { get; set; }
        [Required, StringLength(255)]
        public string NombreSolicitante { get; set; }
        [Required, StringLength(255)]
        public string ApellidoSolicitante { get; set; }
        [Required, StringLength(255)]
        public string DniSolicitante { get; set; }
        [Required, StringLength(255)]
        public string TelefonoSolicitante { get; set; }
        [StringLength(255)]
        public string? Receptor { get; set; }
    }
}
